.preference-card {
    border-radius: 16px;
    background-color: #f4f1e6;
}

.preference-icon {
    width: 48px;
    height: 48px;
    background-color: #e6dec7;
    border-radius: 12px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 18px;
    color: #2f4f2f;
}

.grid-card {
    border-radius: 16px;
    background-color: #f4f1e6;
    min-height: 110px;
}

.grid-icon {
    font-size: 22px;
    color: #2f4f2f;
}

.feature-card {
    border-radius: 16px;
    background-color: #ffffff;
}

.feature-icon {
    width: 48px;
    height: 48px;
    background-color: #e6dec7;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #f57c00;
    font-size: 18px;
}

.feature-arrow {
    width: 32px;
    height: 32px;
    background-color: #e6dec7;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #2f4f2f;
}

.care-card {
    border-radius: 16px;
    overflow: hidden;
    background-color: #ffffff;
}

.care-image {
    height: 140px;
    object-fit: cover;
}

.care-card h6 {
    color: #2f4f2f;
}

.activity-card {
    min-width: 170px;
    max-width: 170px;

    border-radius: 16px;
    overflow: hidden;

    background-color: white;

    flex-shrink: 0;
}

.activity-image {
    width: 100%;
    height: 140px;

    object-fit: cover;
}

.activity-card h6 {
    color: #2f4f2f;
    font-size: 15px;
    margin-bottom: 8px;
}

.activity-card p {
    line-height: 1.4;
}

.care-list-card {
    border-radius: 16px;
    background-color: #ffffff;
}

.info-box {
    background-color: #f4f1e6;
    border-radius: 12px;
    padding: 8px 12px;
}

.tag {
    background-color: #e6dec7;
    border-radius: 12px;
    padding: 4px 8px;
    margin-right: 6px;
    font-size: 12px;
}

.btn-primary-custom {
    background-color: #5d7c3b;
    color: white;

    border: none;
    border-radius: 999px;

    padding: 12px 24px;
}

.btn-secondary-custom {
    background-color: #ecebdd;
    color: #5d7c3b;

    border: none;
    border-radius: 999px;

    padding: 12px 24px;
}

.footer-nav {
    position: fixed;
    bottom: 0;

    width: 100%;
    height: 60px;

    background-color: #5d7c3b;

    display: flex;
    justify-content: space-around;
    align-items: center;

    color: white;
    font-size: 24px;
}

.app-header {
    position: absolute;
    top: 0;

    width: 100%;
    height: 60px;

    padding: 0 16px;

    display: flex;
    align-items: center;

    color: white;

    z-index: 1000;
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 999px;
    padding: 10px 14px;
}

.search-icon {
    margin-right: 8px;
    color: #888;
}

.search-input {
    border: none;
    outline: none;
    width: 100%;
}

.filter-panel{
    background-color: #F7F1D3;
    border: 3px solid #617D37;
    border-radius: 16px;
    padding: 24px;
}

