body {
    margin: 0;
    background-color: #d9d9d9;

    display: flex;
    justify-content: center;

    font-family: Arial, sans-serif;
}

.iphone {
    width: 100%;
    max-width: 430px;
    min-height: 100vh;

    background-color: #F7F1D3;

    position: relative;
    overflow-x: hidden;

    padding-bottom: 90px;
}



.activity-hero {
    height: 260px;

    background-image: url("images/bergen.jpg");
    background-size: cover;
    background-position: center;

    position: relative;
}

.hero-overlay {
    position: absolute;
    inset: 0;

    background: rgba(0,0,0,0.25);

    display: flex;
    align-items: flex-end;

    padding: 20px;
}

.hero-overlay h1 {
    color: white;
    font-size: 2.2rem;
    line-height: 1.1;
}



.intro-section {
    text-align: center;
    padding: 24px;
}



.popular-activities-section,
.support-section {
    padding: 20px;
}

.activity-list {
    display: flex;
    gap: 16px;

    overflow-x: auto;

    scrollbar-width: none;
}

.activity-list::-webkit-scrollbar {
    display: none;
}

.helper-list {
    display: flex;
    justify-content: space-around;
    margin-top: 24px;
}